// Place all the styles related to the admins/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_new{
	margin-left: 15px
}
.products_edit_image{
	padding-bottom: 47px;
	padding-top: 10px;
}
.products_edit_image_information{
	padding-bottom: 10px;
}
.product_show{
	margin-top: 9px;
}