<div class="row">
  <div class="col-xs-offset-1">
	<div class="col-xs-11 admins customers_index_main">
    <h4 class="Menu">会員一覧</h4>

	  <table class="table customers-index">
	    <thead class="thead-light">
	  	  <th>会員ID</th>
	  	  <th>氏名</th>
	  	  <th>メールアドレス</th>
	  	  <th>ステータス</th>
	    </thead>

	    <tbody>
	  	  <% @customers.each do |customer| %>
		  <tr>
		  	<td><%= customer.id %></td>
		  	<td><%= link_to customer.last_name.to_s + customer.first_name.to_s, admins_customer_path(customer) %></td>
		  	<td><%= customer.email %></td>
		  	<td>
		  	　<% if customer.customer_status %>
	  		    有効会員
	  	      <% else %>
	  		    無効会員
	  	      <% end %>
		  	</td>
		  </tr>
		  <% end %>
		</tbody>

	  </table>
    </div>
  </div>
</div>
<%= paginate @customers %>