// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.CART-ITEM{
font-family: inherit;
text-align:center;
font-size: 30px;
border-bottom: dotted 3px #CC9966;
}