// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks-img {
 background-image: url(pexels-photo-791024.jpeg);
 background-size: cover;
 background-position: center;
 height:500px;
 border-radius: 10%;
}
.thanks-messege {
 font-family: Oswald,sans-serif;
}

