<div class="about">
	<div class="row">
		<div class="col-lg-6">
			<h4 class="title">ABOUT</h4>ながのCakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションをご用意しております。<br>
			また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
			ぜひご注文ください。
        </div>
        <div class="col-lg-6">
            <img class="image" src="https://demo.tcd-theme.com/tcd029/wp-content/uploads/2015/11/41.jpg" alt="" title="" style="max-width: 100%;">
        </div>
    </div>
	<div class="row">
		<div class="col-lg-6">
            <img class="image" src="https://demo.tcd-theme.com/tcd029/wp-content/uploads/2015/11/about03.jpg" alt="" title="" style="max-width: 100%;">
        </div>
		<div class="col-lg-6">
			<h4 class="title">HAPPY</h4>
			スィーツのおいしさと食文化を正しく伝えていきたい、<br>
			フランス菓子を神戸という土地に根付かせたい、<br>という想いでお菓子を作っています。 <br>
			古くから外国の文化や食に親しみ、伝統を守りながらも、<br>
			新しいものを上手に取り入れて今の時代を見つめながらも、<br>
			その時々の動きに流されず、旬のもの、からだにやさしいものを、<br>基本の製法を踏まえて作っていきたいと考えています。
        </div>
    </div>
    <div class="row">
		<div class="col-lg-6">
			<h4 class="title">SWEETY</h4>
			スィーツのおいしさと食文化を正しく伝えていきたい、<br>
			フランス菓子を神戸という土地に根付かせたい、<br>という想いでお菓子を作っています。 <br>
			古くから外国の文化や食に親しみ、伝統を守りながらも、<br>
			新しいものを上手に取り入れて今の時代を見つめながらも、<br>
			その時々の動きに流されず、旬のもの、からだにやさしいものを、<br>基本の製法を踏まえて作っていきたいと考えています。
        </div>
        <div class="col-lg-6">
           <img class="image" src="https://demo.tcd-theme.com/tcd029/wp-content/uploads/2015/11/about04.jpg" alt="" title="" style="max-width: 100%;">
        </div>
    </div>
</div>